<div class="row">
    <div style="text-align: center;" class="col-xs-12">
      <h1>Order Controller</h1>
    </div>
    <div style="text-align: center;" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-if="!emailFlag">
		<h3>Please Enter your email address to fetch your Orders!</h3>
		<div class="form-group input-group">
			<span class="input-group-addon"> @ </span> <input
				class="form-control" placeholder="Email" ng-model="emailId" name="email" type="email"
				required="" autofocus="">
		</div>
		<!-- <div class="form-group input-group">
			<span class="input-group-addon"> <i
				class="glyphicon glyphicon-lock"> </i>
			</span> <input class="form-control" placeholder="Password" name="password"
				type="password" value="" required="">
		</div> -->
		<div class="form-group">
			<button ng-click="checkEmail(emailId)" class="btn btn-primary btn-block">
				Access</button>
		</div>
	</div>

	<div class="row" ng-if="emailFlag">
		<p class="text-info">
			Thanks for shopping at the Shopping Cart Application.<br /> This is
			your shopping cart. Here you can edit the items, go back to the
			store, clear the cart, or check out.
		</p>
	</div>
 </div>